
/*Style for the table*/
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 1em;
    margin: 2em;
}
/* Style for the form */
input[type=text], select, textarea {
    width: 95%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

input[type=email], select, textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=checkbox], select, textarea {
    width: 5%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }  
  input[type=submit] {
    background-color: #058053;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #022504;
  }
  
  .container {
    width: 25%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 2em;
  }