body {background-color: rgb(7, 173, 7);}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9c4205;
  color: white;
}

h1 {
    color: rgb(1, 20, 1);
    font-family: gill sans;
    font-size: 400%;
}

ul.team {list-style-type: circle;}

/* Style for the form */
input[type=text], select, textarea {
  width: 95%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=checkbox], select, textarea {
  width: 5%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}  
input[type=submit] {
  background-color: #058053;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #022504;
}

.container {
  width: 25%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 2em;
}